<ng-container *ngIf="loadingComplete; else loader">
  <div class="images-container">
    <img [src]="item.imgSrc"
         srcset="images/7ZPK18-901-21-наборы-ЦС_георгины-p-500.jpeg 500w, images/7ZPK18-901-21-наборы-ЦС_георгины-p-800.jpeg 800w, images/7ZPK18-901-21-наборы-ЦС_георгины-p-1080.jpeg 1080w, images/7ZPK18-901-21-наборы-ЦС_георгины-p-1600.jpeg 1600w, images/7ZPK18-901-21-наборы-ЦС_георгины-p-2000.jpeg 2000w, images/7ZPK18-901-21-наборы-ЦС_георгины-p-2600.jpeg 2600w, images/7ZPK18-901-21-наборы-ЦС_георгины-p-3200.jpeg 3200w, images/7ZPK18-901-21-наборы-ЦС_георгины.jpg 3367w"
         sizes="(max-width: 479px) 96vw, (max-width: 991px) 41vw, 29vw" [alt]="item.title"
         class="image-4 lazy">
    <img src="images/Hand-made_-12x.png"
         alt="handmade"
         class="image-6 lazy">
    <img src="images/Hand-made_12x.png"
         alt="handmade"
         class="image-7 lazy">
  </div>
  <a [routerLink]="['/collection']" [queryParams]="{'col': item.collectionId}" class="back-block w-inline-block">
    <img src="images/lwft-2x.png" alt="goBack" class="back-arrow  lazy">
    <div class="back">
      Вернуться к каталогу
    </div>
  </a>
  <div class="product-details">
    <h1 class="product-header">{{item.title}}</h1>
    <div class="depiction-types">
      <div class="depiction-type">Артикул:</div>
      <div class="depiction-type">Штрихкод:</div>
      <div class="depiction-type">Вес:</div>
      <div class="depiction-type">Комплектация:</div>
    </div>
    <div class="product-depiction">
      <div class="span">{{item.vendorCode}}</div>
      <div class="span">{{item.barcode}}</div>
      <div class="span">{{item.weight}}.</div>
      <div class="span">{{item.equipment}}</div>
    </div>
    <div class="depiction-type">Технические характеристики:</div>
    <div class="span">
      {{item.specs}}
    </div>
    <div class="call-to-action">
      <div class="depiction-type price">Стоимость:</div>
      <div class="span price">{{item.cost}} руб.</div>
      <a [href]="item.marketUrl" class="main-button buy w-button">Купить</a></div>
    <div class="share">
      <div class="share-header">
        Поделиться:
      </div>
      <div class="social-share">
        <img src="images/Group-602x.png" alt="vk" class="social-icon lazy">
        <img src="images/Group-592x.png" alt="ok" class="social-icon lazy">
        <img src="images/Group-622x.png" alt="facebook" class="social-icon lazy">
        <img src="images/Group-612x.png" alt="instagram" class="social-icon lazy">
        <img src="images/Group-632x.png" alt="printerest" class="social-icon lazy">
      </div>
    </div>
  </div>
</ng-container>
<ng-template #loader>
  <app-loader></app-loader>
</ng-template>
<section class="collection">
  <h2 class="collection-header">Другие товары из этой коллекции</h2>
  <img src="images/Hand-made_2.png"
       srcset="images/Hand-made_2-p-500.png 500w, images/Hand-made_2.png 713w"
       sizes="(max-width: 479px) 71vw, 80px"
       alt="handmade logo" class="handmade-logo  lazy">
  <div class="limited">Ограниченная партия 100% Hand Made.</div>

  <div class="products-wrapper">
    <ng-container *ngIf="collectionLoadingComplete">
      <a [routerLink]="['/collection', item._id]" class="product-card w-inline-block"
         *ngFor="let item of collectionItems">
        <img [src]="item.imgSrc"
             [alt]="item.title"
             sizes="(max-width: 479px) 44vw, (max-width: 991px) 22vw, 15vw"
             class="product-image .lazyItems">
        <div class="product-name">{{item.title}}</div>
        <div class="product-price">{{item.cost}} руб.</div>
      </a>
    </ng-container>
  </div>
</section>

