<div class="collection">
  <div *ngIf="collection; else loader">
    <h2 class="collection-header">{{collection.name}}</h2>
    <img src="images/Hand-made_2.png"
         srcset="images/Hand-made_2-p-500.png 500w, images/Hand-made_2.png 713w"
         sizes="60px" alt=""
         class="handmade-logo lazy">
    <div class="limited">Ограниченная партия 100% Hand Made.</div>

      <div class="products-wrapper"><!-- *ngIf="itemsLoaded; else loader"  -->
        <a  [routerLink]="['/collection', item._id]" class="product-card w-inline-block"   *ngFor="let item of items">
          <img
            [src]="item.imgSrc"
            src="images/7ZPK18-901-21-наборы-ЦС_георгины.jpg"
            sizes="(max-width: 479px) 44vw, (max-width: 991px) 22vw, 264px"
            [alt]="item.title" class="product-image lazy">
          <div class="product-name">{{item.title}}</div>
          <div class="product-price">{{item.cost}} руб.</div>
        </a>
      </div>
    <a [routerLink]="['/collection']" [queryParams]="{col:collection._id}" class="main-button w-button">Смотреть коллекцию</a>
  </div>
  <ng-template #loader>
    <app-loader></app-loader>
  </ng-template>
</div>
